html {
  background: url("imgs/map.png") center no-repeat fixed;
  background-size: cover;
}

body {
  background-color: rgba(255,255,255,0.95);
  border-radius: 25px;
  margin: 40px auto;
  padding: 20px 85px;
  width: 900px;
}
#home-btn {
  color: red;
}

#active {
  color: blue;
  text-decoration: solid underline black 3px;  
}

#quiz-btn {
  color: red;
}

.webpage-btn a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.25px;
  margin-left: 100px;
  margin-right: 100px;
  text-decoration: none;
}
.webpage-btn {
  font-variant: small-caps;
  text-align: center;
}

#about-title {
  font-variant: small-caps;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.7px;
  margin-top: 50px;
  font-size: 50px;
  text-decoration: underline;
}

#topic-title1 {
  font-variant: small-caps;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin-top: 45px;
  font-size: 32.5px;
  letter-spacing: -1px;
  color: darkblue;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18.5px;
}

#topic-title2 {
  font-variant: small-caps;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin-top: 45px;
  font-size: 32.5px;
  letter-spacing: -1px;
  color: darkred;
}

